{:paths ["src" "resources" "dev"]
 :deps  {org.clojure/clojure {:mvn/version "1.12.5"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {eftest/eftest {:mvn/version "0.6.0"}
                      nubank/matcher-combinators {:mvn/version "3.10.0"}}}}}
